
print('-'*45)
print('Iremos calcular o voulme de uma esfera pela equação:')
print('\t\t V=(4/3)*pi*r³')
print('-'*45)
pi= 3.14

r = float(input('Forneça o valor do raio:'))
V=(4/3)*pi*r**3

print(' O volume da esfera é= ',V,"cm³")
